.bouton_show {
  display: flex;
  text-decoration: none;
  color: rgba($color: #38dff9, $alpha: 1.0);
}

.box{
  border-radius: 20px;
  background: rgba(158, 238, 251, 1.0);
  color: rgba($color: rgb(0, 143, 170), $alpha: 1.0);
  height: 250px;
  width: 300px;
  margin: 20px;
  padding-top: 10px;
  border: 2px solid rgba($color: rgb(0, 148, 175), $alpha: 1.0);
  display: block;
}
