.bouton_show {
  display: flex;
  text-decoration: none;
  color: rgba($color: #38dff9, $alpha: 1.0);
}

.box {
  border-radius: 20px;
  background: rgba(158, 238, 251, 1.0);
  color: rgba($color: rgb(0, 143, 170), $alpha: 1.0);
  margin: 8px;
  padding-top: 10px;
  border: 2px solid rgba($color: rgb(0, 148, 175), $alpha: 1.0);
  display: block;
  box-shadow: 4px 3px 10px #6e6e6e;
}

.boxs {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 28px;
}

.card-img {
  width: 100%;
  margin-top: -10px;
}


.back {
  margin-left: 30px;
}

.all_search{
  margin: 30px;
}

.search_button{
  text-decoration: none;
  background-color: rgba($color: rgb(50, 203, 230), $alpha: 1.0);
  color: rgba($color: #ffffff, $alpha: 1.0);
  border: 2px solid rgba($color: rgb(0, 148, 175), $alpha: 1.0);
  border-radius: 5px;
  transition: ease-in-out 1s;
  line-height: 40px; /* Adjust the value as needed */
  &:hover {
    background: radial-gradient(circle, rgba(50, 203, 230, 1) 0%, rgba(80, 233, 255, 1) 100%);
    color: rgb(255, 255, 255);
    border: 5px solid rgba($color: rgb(90, 243, 255), $alpha: 1.0);
  }
}
