.button_retour{
  height: 15px;
  padding: 15px;
  margin: 10px;
}

.back{
  text-decoration: none;
  background-color: rgba($color: rgba(130, 161, 167, 0.483), $alpha: 1.0);
  color: rgba($color: #ffffff, $alpha: 1.0);
  border: 2px solid rgba($color: rgba(110, 131, 137, 0.462), $alpha: 1.0);
  border-radius: 60%;
  padding-left: 10px;
  padding-right: 10px;
  transition: ease-in-out 1s;
  &:hover {
    background: radial-gradient(circle, rgba(50, 203, 230, 1) 0%, rgba(80, 233, 255, 1) 100%);
    color: rgb(255, 255, 255);
    border: 3px solid rgba($color: rgb(90, 243, 255), $alpha: 1.0);
  }
}

.h1{
  color: rgba($color: rgb(50, 203, 230), $alpha: 1.0);
}

.container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.separation {
  width: 100%;
  height: 10px;
  background-color: rgba(50, 203, 230, 1.0);
  margin-bottom: 20px;
}

.tout_les_images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.bouton_show {
  height: 250px;
  width: 300px;
  margin: 20px;
  color: rgba(0, 143, 170, 1.0);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
}
