  <h1>MontQAngels</h1>
    <div class="image">
      <%=image_tag("logo.png", height: '400')%>
    </div>
  <h2>Pure softness for heavenly hygiene!</h2>
    <div class="button_parameter">
      <%=link_to "Let's go!", toilet_papers_path, class:"welcome_button" %>
    </div>
